//variaveis
$icon-header: 4px;
$icon-top: 10px;
$color: gray;
$color-b: white;
$ml-p: 20%;
$mt-p: 10%;
$size: 12pt;
$size-p: 10pt;

// sass home
.icon{
    margin: 5px;
    &-face{
        margin-left: 10%;
        color: darkblue;
    }
    &-instagram{
        padding-left: 5px;
        padding-right: 5px;
    }
}
.user{
    margin-top: $icon-top;
    float: right;
    padding-left: 10px;
    color: $color;
    font-size: $size-p;
    &-item{
        margin-top: $icon-top;
        float: right;
       // padding-top: $icon-header;
    }
}
.phone{
    margin-top: $icon-top;
    float: right;
    padding-left: 10px;
    margin-right: 25%;
    color: $color;
    font-size: $size-p;

    &-item{
        margin-top: 8px;
        float: right;
        padding-top: $icon-header;
    }
}
.line{
    margin-top: -10px;
}

.img-neo{
    width: 200px;
    margin-left: 34%;
    margin-top: -15px;
}
.search{
    border-radius: 50px;
    width: 400px;
    margin-right:300px;
    margin-top: 25px;
    padding-left: 25px;
    &-item{
        float: right;
        margin-top: -27px;
        margin-right: 5%;
    }
}
#navbarDropdown{
    color: $color-b;
    font-size: 12px;
}
#navbarDropdown-one{
    color: $color-b;
    font-size: 12px;
    margin-left: 140px;
}
#dropdownMenu2{
    border-bottom-color: silver;
    border-top-color: silver;
    width: 80%;
    margin-bottom: 20px;
}
.page-link{
    color: black;
}
.link-number{
    background: black;
    color: $color-b;
}

.nav-cat{
    margin-top: -25px;
}
.frete{
    position: absolute;
    margin-left: $ml-p;
    font-size: $size;
    line-height: 2;
    &-item{
        position: absolute;
        margin-left: $ml-p;
        margin-top: $mt-p;
        font-size: $size-p;
        line-height: 1.2;
        color: $color;
        &--truck{
            margin-left: 10px;
            padding-top: 10px;
        }
    }
}
.purchase{
    margin-top: -20px;
}
.credit{
    position: absolute;
    margin-left: $ml-p;
    font-size: $size;
    line-height: 2;
    &-item{
        position: absolute;
        margin-left: $ml-p;
        margin-top: $mt-p;
        font-size: $size-p;
        line-height: 1.2;
        color: $color;
        &--card{
            margin-left: 5px;
            padding-top: 10px;
        }
    }
}
.rocket{
    position: absolute;
    margin-left: $ml-p;
    font-size: $size;
    line-height: 2;
    &-item{
        position: absolute;
        margin-left: $ml-p;
        margin-top: $mt-p;
        font-size: $size-p;
        line-height: 1.2;
        color: $color;
        &--plane{
            margin-left: 10px;
            padding-top: 10px;
        }
    }
}
.lock{
    position: absolute;
    margin-left: $ml-p;
    font-size: $size;
    line-height: 2;
    &-item{
        position: absolute;
        margin-left: $ml-p;
        margin-top: $mt-p;
        font-size: $size-p;
        line-height: 1.2;
        color: $color;
        &--segurity{
            margin-left: 20px;
            padding-top: 10px;
        }
    }
}
.line-purchase{
    margin-top: 20px;
}
.copy{
    font-size:  $size-p;
    color: $color;
    &-item{
        line-height: 1;
        font-size:  $size-p;
        color: $color;
        &--cep{
            margin-top: -15px;
            font-size:  $size-p;
            color: $color;
        }
    }
}
.payment{
    padding: 20px;
    &-item{
        width: 40px;
        margin-right: 15px;
    }
}
.img-payment{
    width: 80px;
}
.jumbo-rod{
    height: 220px;
}
.jumbo{
    margin: 25px;
    margin-top: -40px;
    line-height: 0.5;
}
.nav-link{
    color: $color;
    font-size: $size-p;
}
h4{
    color: $color-b;
    font-size: $size-p;
}

.card{
    width: 250px;
    margin: 10px;
    margin-left: 22px;
    &-img{
        width: 250px;
        height: 300px;
        background-color: gainsboro;
        &--detail{
            width: 565px;
            height: 630px;
            background-color: gainsboro;
        }
    }
}

.card-title{
    font-size: $size-p;
    text-align: center;
}
.text{
    &-item{
        color: deepskyblue;
        font-size: $size;
        position: absolute;
        margin-left:45%;
        margin-top: -35px;
    }
}
.card-text{
    font-size: $size-p;
    color: $color;
    &--item{
        text-align: center;
        font-size: $size-p;
        color: $color;
    }
}
.btn-detail{
    background: gainsboro;
    color: gray;    
}
.icon-detail{
    padding-right: 10px;
}
.comprar{
    position: absolute;
    margin-left: 5%;
    margin-top: 25%;
    width: 90%;
    &-item{
        background: black;
        &--cor{
            width: 100%;
        }
        &--tamanho{
            width: 100%;
        }
        &--compra{
            width: 100%;
        }
    }
}
// detail
h4{

}
.number{
    color: $color;
    font-size: $size-p;
}
.information{
    margin-left: 35%;
}
.rating{
    float: right;
    color: yellow;
    &-item{
     color: silver;
    }
}
.card-cor{
    width: 350px;
}
.square-two{
    color: $color;    
}
.square-three{
    color: silver;

}
.add{
    margin-bottom: 15%;
}
.card-frete{
    width: 350px;
    &-item{
        font-size: 12pt;
    }
}

.car{
    margin-right: 500px;
    width: 110px;
    &-item{
        position: absolute;
        margin-top: -25px;
    }
}
.card-parcela{
    width: 350px;
    &--item{
        margin-left: 5%;

    }
}
.play{
    position: absolute;
}
.name{
    margin-left: 40%;
}
.colors{
    color: black;
    &-silver{
        color: silver;
        }
    }
    .colors{
        &-aqua{
            color: aqua;
        }
    }
    .colors{
        &-gray{
            color: gray;
        }
    }
    .colors{
        &-pink{
            color: deeppink;
        }
    }
    .colors{
        &-red{
            color: red;
        }
    }
    .colors{
        &-blue{
            color: royalblue;
        }
    }
    .colors{
        &-dark{
            color: darkblue;
        }
    }
    .colors{
        &-yellow{
            color: yellow;
        }
    }
    .colors{
        &-orange{
            color: orangered;
        }
    }
    .colors{
        &-white{
            color: white;
        }
    }
.btn-tamanho{
    border-bottom-color: silver;
    border-top-color: silver;
    margin-top: 25px;
}
.btn-preco{
    border-bottom-color: silver;
    border-top-color: silver;
    margin-top: 25px;
}
.photo{
    width: 2000px;
    height: 450px;
}
.cont{
    text-align: center;
    margin-left: 0;
}
.lanc{
    margin-bottom: 25px;
}
.lancamentos{
    text-align: center;
    font-size: $size;
}
.vendidos{
    text-align: center;
}
.icon-header{
    padding-top: 10px;
    &{
        margin-left: 15%;
        padding-top: 10px;
    }
}
.card-cat{
    margin-bottom: 35px;
}

.email{
    padding-left: 40px;
    width: 210px;
}
.icon-email{
    position: absolute;
    margin-top: -27px;
    margin-left: 10px;
}
.create{
    position: absolute;
    margin-left: 220px;
    margin-top: -38px;
}






.star{
    color: yellow;
    &-item{
      //  width: 80px;
    }
}

.adquirir{
    //position: relative;
}

// Detalhes
